{% assign page_type = page.page_type %}

{% if page_type == "all" %}
  {% assign items = site.data.issues %}
{% elsif page_type == "Debian" %}
  {% assign common_items = site.data.issues | where: "type", "Common" %}
  {% assign bsp_items = site.data.issues | where: "type", "Debian" %}
  {% assign items = common_items | concat: bsp_items %}
{% elsif page_type == "Yocto" %}
  {% assign common_items = site.data.issues | where: "type", "Common" %}
  {% assign bsp_items = site.data.issues | where: "type", "Yocto" %}
  {% assign items = common_items | concat: bsp_items %}
{% endif %}

<table>
  <thead>
    <tr>
      {% if page_type == "all" %}<th>Platform</th>{% endif %}
      <th>Category</th>
      <th>Function</th>
      <th>Description</th>
      <th>Resolution Date</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      {% if page_type == "all" %}<td>{{ item.type }}</td>{% endif %}
      <td>{{ item.category }}</td>
      <td>{{ item.function }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.resolution_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
