<nav class="toc">
  <h2>Sparrow Hawk Contents</h2>
  <ol>
    <li><a href="{{ '/Sparrow-Hawk/index.html#intro' | relative_url }}" class="scroll-link">Introduction</a></li>
    <li>
      <a href="{{ '/Sparrow-Hawk/index.html#hw' | relative_url }}" class="scroll-link">Hardware</a>
      <ol>
        <li><a href="{{ '/Sparrow-Hawk/index.html#hw_info' | relative_url }}" class="scroll-link">Sparrow Hawk Information</a></li>
        <li><a href="{{ '/Sparrow-Hawk/index.html#hw_pic' | relative_url }}" class="scroll-link">Sparrow Hawk Picture</a></li>
        <li>
	  <a href="{{ '/Sparrow-Hawk/index.html#hw_sw' | relative_url }}" class="scroll-link">Switches Assignment</a>
	  <ol>
		  <li><a href="{{ '/Sparrow-Hawk/index.html#hw_sw_boot' | relative_url }}" class="scroll-link">Boot mode</a></li>
		  <li><a href="{{ '/Sparrow-Hawk/index.html#hw_sw_other' | relative_url }}" class="scroll-link">Other switch</a></li>
	  </ol>
	</li>
        <li><a href="{{ '/Sparrow-Hawk/index.html#hw_debug' | relative_url }}" class="scroll-link">Debug Serial</a></li>
        <li><a href="{{ '/Sparrow-Hawk/index.html#hw_caution' | relative_url }}" class="scroll-link">Caution</a></li>
      </ol>
    </li>
    <li><a href="{{ '/Sparrow-Hawk/index.html#sw_ver' | relative_url }}" class="scroll-link">Software Version List</a></li>
    <li>
      <a href="{{ '/Sparrow-Hawk/index.html#quick_start' | relative_url }}" class="scroll-link">Quick Start How To</a>
      <ol>
	<li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_build' | relative_url }}" class="scroll-link">How to build</a></li>
	<li>
	  <a href="{{ '/Sparrow-Hawk/index.html#quick_start_flash' | relative_url }}" class="scroll-link">How to flash</a>
	  <ol>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_flash_loader' | relative_url }}" class="scroll-link">Flashing loader</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_flash_image' | relative_url }}" class="scroll-link">Flashing OS image into SD card</a></li>
	  </ol>
	</li>
	<li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_boot' | relative_url }}" class="scroll-link">How to boot</a></li>
	<li>
	  <a href="{{ '/Sparrow-Hawk/index.html#quick_start_run' | relative_url }}" class="scroll-link">How to run applications</a>
	  <ol>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_support' | relative_url }}" class="scroll-link">Software support list</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_can' | relative_url }}" class="scroll-link">CAN</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_audio' | relative_url }}" class="scroll-link">Audio</a></li>
    	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_gpio' | relative_url }}" class="scroll-link">GPIO</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_i2c' | relative_url }}" class="scroll-link">I2C</a></li>
    	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_usb3.0' | relative_url }}" class="scroll-link">USB3.0</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_uart' | relative_url }}" class="scroll-link">UART</a></li>
    	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_thermal' | relative_url }}" class="scroll-link">Thermal</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_m.2' | relative_url }}" class="scroll-link">M.2</a></li>
    	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_camera' | relative_url }}" class="scroll-link">Pi Camera</a></li>
	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_display' | relative_url }}" class="scroll-link">Pi Display</a></li>
    	    <li><a href="{{ '/Sparrow-Hawk/index.html#quick_start_run_cooler' | relative_url }}" class="scroll-link">Pi Active Cooler</a></li>
	  </ol>
	</li>
      </ol>
    </li>
    <li><a href="{{ '/Sparrow-Hawk/index.html#tips' | relative_url }}" class="scroll-link">Tips</a></li>
    <li><a href="{{ '/Sparrow-Hawk/index.html#issues' | relative_url }}" class="scroll-link">Known Issues & Restrictions</a></li>
  </ol>
</nav>
