<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ 'css/syntax.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/css/selector.css' | relative_url }}" />
  <script src="{{ '/assets/js/selector.js' | relative_url }}" defer></script>
</head>
<body data-style="{{ page.style | default: 'common' }}">
  <main>
    {% include breadcrumbs.html %}  <!-- breadcrumbs -->
    {{ content }}              <!-- page content -->
  </main>

  {% include footer.html %}    <!-- footer -->
</body>
</html>

